<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<!--  <a class="navbar-brand" href="#">Navbar</a>-->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li th:each="menuItem : ${menu}"  class="nav-item active">
						
							<a class="nav-link"  th:if="${menuItem.pageType.toString() =='ARTICLE_TYPE'}" th:href="${menuItem.url}" th:utext="${menuItem.pageTitle}"></a>
						
						
							<a class="nav-link" th:href="${'http://'+menuItem.url}" th:if="${menuItem.pageType.toString() =='LINK_TYPE'}" target="_blank" th:utext="${menuItem.pageTitle}"></a>
							
					</li>	
				</ul>
			</div>
		</nav>
		<div th:utext="${content}"></div>
	</div>
</body>
</html>